* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(128, 128, 128, 0.562);
}
nav {
  background: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  list-style-type: none;
  padding-inline-start: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #e3b7a6;
  font-size: 1.3em;
  padding: 5px;
}
nav ul li a:hover {
  color: white;
}
.logo {
  width: 4vw;
  margin-left: 2px;
}
.loupe {
  width: 5%;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: center;
}

/* Style des articles */
article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  padding: 10px;
}
/* Style de la colonne latérale */
aside {
  width: 100%;
  margin-top: 10px;
}
div img {
  width: 25%;
}
.bannierre {
  display: flex;
  justify-content: center;
}
.les4 {
  height: 150px;
  margin: 2px;
}
.regrouper {
  margin-top: 100px;
}
.lapin {
  margin-top: 40px;
}

.icon {
  display: flex;
  box-shadow: 4px 5px 15px black;
}
.divicon {
  border: 1px solid grey;
  width: 50%;
}
.divicon p {
  width: fit-content;
}

button {
  width: fit-content;
  padding: 5px 10px;
}
h1 {
  text-transform: uppercase;
  font-size: 2em;
}
h3 {
  text-transform: uppercase;
}
section article p {
  padding-right: 60px;
}
.entete {
  margin-left: 200px;
}
@media screen and (max-width: 500px) {
  body section {
    display: block;
    /* border: black solid 1px; */
  }
  nav ul li a {
    font-size: 1.2em;
  }
  body section article {
    width: 90%;
    font-size: 1.4em;
  }
  .sectionlesquatres {
    margin: 0px;
  }
  .sectionicon {
    margin-left: -20px;
  }
  .bannierre {
    margin: auto;
    flex-direction: column;
  }
  div {
    display: block;
  }

  .lapin {
    margin: 0px;
  }
  ul {
    display: block;
    width: 90%;
  }
  .icon {
    width: 80%;
    margin-left: -500px;
  }
  .divicon {
    width: 50%;
  }

  .les4 {
    height: fit-content;
  }
}

@media screen and (max-width: 900px) {
  body section article {
    width: 90%;
    font-size: 1.4em;
  }
  .logo {
    width: 4vw;
    margin-left: 0px;
  }
  .bannierre {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    display: block;
  }
  .entete {
    margin-left: 1rem;
  }
  nav ul {
    display: block;
    width: 90%;
    justify-content: center;
  }
  nav ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #e3b7a6;
    text-align: center;
    font-size: 1.3em;
    border: 0px 0px 4px 0px solid #e3b7a6;
  }
  .icon {
    width: 80%;
    margin-left: 70px;
  }
  .divicon {
    width: 50%;
  }

  .regrouper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 1.1em;
  }
  section article p {
    padding-right: 0px;
    font-size: 1em;
  }
}
